/* line 1, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel {
  height: 100%;
  width: 100vw;
  padding-top: 5em;
}

/* line 6, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .row {
  width: 100vw;
}

/* line 10, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-indicators {
  z-index: 1;
}

/* line 15, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .img-div {
  padding-right: unset;
}

/* line 19, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .slide-1 {
  background-image: url("../images/slides/Section_1_BG.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  /* line 24, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
  .carousel .carousel-inner .slide-1 p {
    margin-top: -3em;
    font-size: 0.8em;
    padding-bottom: unset;
  }
}

@media screen and (max-width: 1200px) {
  /* line 32, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
  .carousel .carousel-inner .slide-1 h1 {
    font-size: 1.8em;
  }
}

/* line 38, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .slide-1 .cover {
  float: right;
  min-width: 300px;
}

@media screen and (max-width: 1800px) {
  /* line 38, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
  .carousel .carousel-inner .slide-1 .cover {
    width: 50vw;
    top: -6em;
  }
}

@media screen and (max-width: 1200px) {
  /* line 38, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
  .carousel .carousel-inner .slide-1 .cover {
    top: -1em;
    right: 2em;
    float: none;
    left: unset;
  }
}

/* line 56, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .slide-2 {
  background-image: url("../images/slides/Section_2_BG.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  /* line 61, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
  .carousel .carousel-inner .slide-2 p {
    margin-top: -2em;
    font-size: 0.8em;
    padding-bottom: unset;
  }
}

@media screen and (max-width: 1200px) {
  /* line 69, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
  .carousel .carousel-inner .slide-2 h1 {
    font-size: 1.8em;
  }
}

/* line 76, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .slide-2 .screenshot {
  min-width: 300px;
}

@media screen and (max-width: 1800px) {
  /* line 76, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
  .carousel .carousel-inner .slide-2 .screenshot {
    width: 35vw;
    top: -6em;
  }
}

@media screen and (max-width: 1200px) {
  /* line 76, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
  .carousel .carousel-inner .slide-2 .screenshot {
    top: -1em;
    padding-bottom: 1em;
  }
}

/* line 91, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .slide-3 {
  background-color: #00a2d3;
  background-image: url("../images/slides/Section_3_BG.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

@media screen and (max-width: 750px) {
  /* line 91, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
  .carousel .carousel-inner .slide-3 {
    background-size: auto 75vw;
  }
}

/* line 100, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .slide-3 .carousel-body {
  padding-top: 2em;
}

/* line 107, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .carousel-body {
  padding-top: 5em;
  padding-right: unset;
  height: 70vh;
}

@media screen and (max-width: 1200px) {
  /* line 107, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
  .carousel .carousel-inner .carousel-body {
    padding-top: 3em;
  }
}

/* line 117, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .carousel-body img {
  position: relative;
  top: -10em;
}

/* line 122, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .carousel-body h1 {
  padding-bottom: 0.5em;
}

/* line 126, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .carousel-body p {
  padding-bottom: 2em;
}

/*# sourceMappingURL=../css/carousel.map */