@font-face {
  font-family: 'Nationale-Regular';
  src: url("../Fonts/Nationale-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nationale-Black';
  src: url("../Fonts/Nationale-Black.otf") format("opentype");
}

@font-face {
  font-family: 'Nationale-Bold';
  src: url("../Fonts/Nationale-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Nationale-DemiBold';
  src: url("../Fonts/Nationale-DemiBold.otf") format("opentype");
}

@font-face {
  font-family: 'Nationale-Italic';
  src: url("../Fonts/Nationale-Italic.otf") format("opentype");
}

@font-face {
  font-family: 'Nationale-Light';
  src: url("../Fonts/Nationale-Light.otf") format("opentype");
}

/* line 3, C:/MAMP/htdocs/Tidal/scss/tidal-button.scss */
.tidal-button, .section-1-tidal-button {
  background-color: #1a1a1a;
  padding: 1em 4em 1em 4em;
  border-radius: 6px;
  border-color: #00f5f5;
  color: white;
  position: relative;
  top: -2em;
}

/* line 12, C:/MAMP/htdocs/Tidal/scss/tidal-button.scss */
.tidal-button:hover, .section-1-tidal-button:hover {
  background-color: #00f5f5;
  color: black;
  border-style: none;
  cursor: pointer;
}

/* line 20, C:/MAMP/htdocs/Tidal/scss/tidal-button.scss */
.section-1-tidal-button {
  position: unset;
  background-color: inherit;
  margin-top: 2em;
  margin-bottom: 4em;
}

/* line 1, C:/MAMP/htdocs/Tidal/scss/navbar.scss */
nav {
  height: 5em;
  padding-top: 1.5em;
  z-index: 2;
  position: fixed;
  background-color: black;
  width: 100vw;
}

/* line 10, C:/MAMP/htdocs/Tidal/scss/navbar.scss */
nav .toggler:hover {
  cursor: pointer;
}

/* line 16, C:/MAMP/htdocs/Tidal/scss/navbar.scss */
.sidenav {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

/* line 26, C:/MAMP/htdocs/Tidal/scss/navbar.scss */
.sidenav ul {
  padding: unset;
  margin-bottom: unset;
}

/* line 30, C:/MAMP/htdocs/Tidal/scss/navbar.scss */
.sidenav ul li {
  list-style: none;
  padding-left: 2em;
  border-style: solid;
  border-width: thin;
  border-color: black;
  background-color: #242424;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

/* line 40, C:/MAMP/htdocs/Tidal/scss/navbar.scss */
.sidenav ul li:hover {
  background-color: #4d4d4d;
}

/* line 44, C:/MAMP/htdocs/Tidal/scss/navbar.scss */
.sidenav ul li:first-child {
  list-style: none;
  height: 5em;
  border-style: none;
  background-color: #1c1c1c;
  padding-top: 0.5em;
  padding-left: unset;
}

/* line 53, C:/MAMP/htdocs/Tidal/scss/navbar.scss */
.sidenav ul li:last-child {
  border-style: none;
  background-color: #1c1c1c;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: unset;
}

/* line 62, C:/MAMP/htdocs/Tidal/scss/navbar.scss */
.sidenav ul li img {
  opacity: 0.5;
  padding-left: 1em;
}

/* line 66, C:/MAMP/htdocs/Tidal/scss/navbar.scss */
.sidenav ul li img:first-child {
  padding-left: unset;
}

/* line 70, C:/MAMP/htdocs/Tidal/scss/navbar.scss */
.sidenav ul li img:hover {
  opacity: unset;
  cursor: pointer;
}

/* line 74, C:/MAMP/htdocs/Tidal/scss/navbar.scss */
.sidenav ul li img:hover:not(:last-child) {
  cursor: pointer;
}

/* line 80, C:/MAMP/htdocs/Tidal/scss/navbar.scss */
.sidenav ul li a {
  text-decoration: none;
  font-size: 16pt;
  color: white;
  display: block;
  transition: 0.3s;
  font-family: 'Nationale-Regular';
}

/* line 92, C:/MAMP/htdocs/Tidal/scss/navbar.scss */
.sidenav .closebtn {
  text-align: center;
  font-size: 35pt;
}

@media screen and (max-height: 450px) {
  /* line 98, C:/MAMP/htdocs/Tidal/scss/navbar.scss */
  .sidenav {
    padding-top: 15px;
  }
  /* line 102, C:/MAMP/htdocs/Tidal/scss/navbar.scss */
  .sidenav a {
    font-size: 18px;
  }
}

/* line 1, C:/MAMP/htdocs/Tidal/scss/footer.scss */
.footer {
  background-color: #242424;
  width: 100vw;
}

/* line 6, C:/MAMP/htdocs/Tidal/scss/footer.scss */
.footer .footer-icons img {
  padding-left: 2em;
  padding-top: 5vh;
}

/* line 11, C:/MAMP/htdocs/Tidal/scss/footer.scss */
.footer .footer-icons p {
  padding-top: 3em;
  text-align: justify;
  text-align-last: center;
}

/* line 18, C:/MAMP/htdocs/Tidal/scss/footer.scss */
.footer .social {
  background-color: #1a1a1a;
  height: 10em;
  margin-top: 10em;
}

/* line 23, C:/MAMP/htdocs/Tidal/scss/footer.scss */
.footer .social .try-button {
  text-align: center;
}

/* line 27, C:/MAMP/htdocs/Tidal/scss/footer.scss */
.footer .social .copyright {
  text-align: right;
}

@media screen and (max-width: 768px) {
  /* line 27, C:/MAMP/htdocs/Tidal/scss/footer.scss */
  .footer .social .copyright {
    text-align: center;
    order: 2;
  }
}

@media screen and (max-width: 768px) {
  /* line 35, C:/MAMP/htdocs/Tidal/scss/footer.scss */
  .footer .social .social-icons {
    text-align: center;
    order: 1;
    padding-bottom: 2em;
  }
}

/* line 44, C:/MAMP/htdocs/Tidal/scss/footer.scss */
.footer .social .copyright-social img {
  opacity: 0.5;
  padding-left: 1.5em;
}

/* line 48, C:/MAMP/htdocs/Tidal/scss/footer.scss */
.footer .social .copyright-social img:first-child {
  padding-left: unset;
}

/* line 52, C:/MAMP/htdocs/Tidal/scss/footer.scss */
.footer .social .copyright-social img:hover {
  opacity: unset;
}

/* line 1, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel {
  height: 100%;
  width: 100vw;
  padding-top: 5em;
}

/* line 6, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .row {
  width: 100vw;
}

/* line 10, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-indicators {
  z-index: 1;
}

/* line 16, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .slide-1 {
  background-image: url("../images/slides/Section_1_BG.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 23, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .slide-2 {
  background-image: url("../images/slides/Section_2_BG.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 30, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .slide-3 {
  background-color: #00a2d3;
  background-image: url("../images/slides/Section_3_BG.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

/* line 39, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .slide-3 .carousel-body {
  padding-top: 2em;
}

/* line 43, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .slide-3 button {
  background-color: black;
  border: none;
}

/* line 47, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .slide-3 button:hover {
  background-color: white;
}

/* line 53, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .carousel-body {
  padding-top: 5em;
  padding-right: unset;
}

@media screen and (max-width: 1200px) {
  /* line 58, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
  .carousel .carousel-inner .carousel-body .cover {
    right: 10%;
  }
}

@media screen and (max-width: 1200px) {
  /* line 64, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
  .carousel .carousel-inner .carousel-body .screenshot {
    right: 18%;
  }
}

/* line 71, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .carousel-body img {
  position: relative;
  top: -10em;
}

@media screen and (max-width: 1200px) {
  /* line 71, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
  .carousel .carousel-inner .carousel-body img {
    top: 0;
  }
}

/* line 79, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .carousel-body h1 {
  padding-bottom: 0.5em;
}

/* line 83, C:/MAMP/htdocs/Tidal/scss/carousel.scss */
.carousel .carousel-inner .carousel-body p {
  padding-bottom: 2em;
}

/* line 1, C:/MAMP/htdocs/Tidal/scss/sections.scss */
.section-2 {
  width: 100vw;
}

/* line 4, C:/MAMP/htdocs/Tidal/scss/sections.scss */
.section-2 img {
  width: 100%;
}

/* line 9, C:/MAMP/htdocs/Tidal/scss/sections.scss */
.section-3 {
  width: 100vw;
  background-color: #1a1a1a;
  padding-top: 10em;
}

/* line 14, C:/MAMP/htdocs/Tidal/scss/sections.scss */
.section-3 img {
  margin: auto;
  display: flex;
}

/* line 8, C:/MAMP/htdocs/Tidal/scss/main.scss */
body {
  background-color: black;
  color: white;
  overflow-x: hidden;
  font-family: "Nationale-Regular";
  font-size: 18pt !important;
}

/* line 16, C:/MAMP/htdocs/Tidal/scss/main.scss */
body button {
  font-family: "Nationale-Regular";
}

/* line 20, C:/MAMP/htdocs/Tidal/scss/main.scss */
body h1 {
  font-family: "Nationale-Bold";
  font-size: 3rem;
}

/* line 25, C:/MAMP/htdocs/Tidal/scss/main.scss */
body .row {
  margin-left: unset;
  margin-right: unset;
}

/* line 30, C:/MAMP/htdocs/Tidal/scss/main.scss */
body .container {
  width: 100%;
  padding-left: unset;
  padding-right: unset;
}

/*# sourceMappingURL=../css/main.map */