.carousel {
  height: 100%;
  width: 100vw;
  padding-top: 5em;

  .row {
    width: 100vw;
  }

  .carousel-indicators {
    z-index: 1;
  }

  .carousel-inner {

    .slide-1 {
      background-color: #292929;
    }

    .slide-2 {
      background-color: #1c1c1c;
    }

    .slide-3 {
      background-color: #141414;
    }

    .carousel-body {
      padding-top: 5em;
      padding-right: unset;

      .cover {
        @media screen and (max-width: 1200px) {
          right: 10%;
        }
      }

      .screenshot {
        @media screen and (max-width: 1200px) {
          right: 18%;
        }
      }

      .brush {
        padding-right: 8em;

        @media screen and (max-width: 1200px) {
          max-width: 75%;
          padding-bottom: 2em;
          padding-right: unset;
        }
      }

      img {
        position: relative;
        top: -10em;
        @media screen and (max-width: 1200px) {
          top: 0;
        }
      }

      h1 {
        font-family: 'Nationale-Bold';
      }

      p {
        font-family: 'Nationale-Regular';
        padding-bottom: 2em;
      }
    }
  }
}
