.carousel {
  height: 100%;
  width: 100vw;
  padding-top: 5em;

  .row {
    width: 100vw;
  }

  .carousel-indicators {
    z-index: 1;
  }

  .carousel-inner {

    .slide-1 {
      //background-color: darkslategray;
      background-image: url("../images/slides/Section_1_BG.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .slide-2 {
      //background-color: #1c1c1c;
      background-image: url("../images/slides/Section_2_BG.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .slide-3 {
      background-color: #00a2d3;
      background-image: url("../images/slides/Section_3_BG.png");
      background-repeat: no-repeat;
      //background-size: cover;
      background-size: auto 100%;
      background-position: center;
      //color: black;

      .carousel-body{
        padding-top: 2em;
      }

      button{
        background-color: black;
        border: none;

        &:hover{
          background-color: white;
        }
      }
    }

    .carousel-body {
      padding-top: 5em;
      padding-right: unset;


      .cover {
        @media screen and (max-width: 1200px) {
          right: 10%;
        }
      }

      .screenshot {
        @media screen and (max-width: 1200px) {
          right: 18%;
        }
      }


      img {
        position: relative;
        top: -10em;
        @media screen and (max-width: 1200px) {
          top: 0;
        }
      }

      h1 {
        padding-bottom: 0.5em;
      }

      p {
        padding-bottom: 2em;
      }
    }
  }
}
