@font-face {
   font-family: 'Nationale-Regular';
      src: url('../Fonts/Nationale-Regular.otf');
   font-weight: normal;
   font-style: normal;
}
@font-face {
  font-family:'Nationale-Black';
  src: url("../Fonts/Nationale-Black.otf")
  format('opentype');
}
@font-face {
  font-family:'Nationale-Bold';
  src: url("../Fonts/Nationale-Bold.otf")
  format('opentype');
}
@font-face {
  font-family:'Nationale-DemiBold';
  src: url("../Fonts/Nationale-DemiBold.otf")
  format('opentype');
}
@font-face {
  font-family:'Nationale-Italic';
  src: url("../Fonts/Nationale-Italic.otf")
  format('opentype');
}
@font-face {
  font-family:'Nationale-Light';
  src: url("../Fonts/Nationale-Light.otf")
  format('opentype');
}
