@import 'fonts';
@import 'tidal-button';
@import 'navbar';
@import 'footer';
@import 'carousel';
@import 'sections';

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
  font-family: "Nationale-Regular";
  font-size: 18pt !important;

  button{
    font-family: "Nationale-Regular";
  }

  h1{
    font-family: "Nationale-Bold";
    font-size: 3rem;
  }

  .row {
    margin-left: unset;
    margin-right: unset;
  }

  .container {
    width: 100%;
    padding-left: unset;
    padding-right: unset;
  }
}
