@import 'fonts';
@import 'tidal-button';
@import 'navbar';
@import 'footer';
@import 'carousel';
@import 'sections';

body {
  background-color: black;
  color: white;
  overflow-x: hidden;

  .row {
    margin-left: unset;
    margin-right: unset;
  }

  .container {
    width: 100%;
    padding-left: unset;
    padding-right: unset;
  }
}
