$button-color: #00f5f5;

.tidal-button{
  background-color: #1a1a1a;
  padding: 1em 4em 1em 4em;
  border-radius: 6px;
  border-color: $button-color;
  color:white;
  position: relative;
  top: -2em;

  &:hover{
    background-color: $button-color;
    color:black;
    cursor: pointer;
  }
}

.slide-1 button{
  @extend .tidal-button;
  //position: unset;
  background-color: inherit;

  @media screen and (max-width: 1200px) {
    position: relative;
    font-size: 0.8em;

  }

  @media screen and (max-width: 355px) {
    padding: 0.5em 2em 0.5em 2em;
  }



}

.slide-2 button{
  @extend .tidal-button;

  background-color: inherit;

  @media screen and (max-width: 1200px) {
    position: relative;
    font-size: 0.8em;

  }

  @media screen and (max-width: 355px) {
    padding: 0.5em 2em 0.5em 2em;
  }

}

.slide-3 button {
  @extend .tidal-button;

  background-color: black;
  border: none;
  margin-bottom: unset;
  position: relative;
  top: 2em;

  @media screen and (max-width: 370px) {
    font-size: 0.8em;
    //padding: 0.5em 2em 0.5em 2em;
  }

  &:hover {
    background-color: white;
  }
}
