<nav>
  <div class="nav-wrapper">
    <a href=""><img  alt="TIDAL logo" src="images/logo.png"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><img alt="menu icon" src="images/Icons/menu_icon.png"></li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a href=""><img  alt="TIDAL logo" src="images/logo.png"></a>
  <img alt="menu icon" src="images/Icons/menu_icon.png">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>
  </div>
</nav>

<nav class="navbar navbar-toggleable-md">
  <a href=""><img  alt="TIDAL logo" src="images/logo.png"></a>
  <img alt="menu icon" src="images/Icons/menu_icon.png">
  </div>
</nav>
